# conda create -n partialnet python=3.10 -y
# conda activate partialnet
# pip install -r requirements.txt

# ----------------------------------------
# --extra-index-url https://download.pytorch.org/whl/cu118

torch
torchvision
pytorch-lightning
lightning-bolts
timm
wandb
matplotlib
fvcore
easydict

# ----------------------------------------
# install the following packages for mmdet
# pip install mmcv==1.6.0 -f https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/index.html
# pip install mmdet==2.25.0